.boxRandomChuckJoke{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    background: #77a7ff;
    border-radius: 10px;
  }

  .boxOwnJokes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    background: #90e3ff;
    border-radius: 10px;

  }
